apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: airflow-webserver
spec:
  minAvailable: 2
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend
spec:
  minAvailable: 2
