apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: airflow-webserver
  labels:
    app.kubernetes.io/name: airflow-webserver
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: airflow-webserver
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: frontend
  labels:
    app.kubernetes.io/name: frontend
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: frontend
